@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }

  body {
    @apply bg-background text-text-body font-body antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-text-heading font-bold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0F2B46;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00A9CE;
}